@import url(https://fonts.googleapis.com/css2?family=Poppins:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:300,400,500);
@import url(https://fonts.googleapis.com/css2?family=Poppins:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:300,400,500);
@import url(https://fonts.googleapis.com/css2?family=Poppins:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:300,400,500);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);
@import url(https://fonts.googleapis.com/css2?family=Poppins:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:300,400,500);
@import url(https://fonts.googleapis.com/css2?family=Poppins:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:300,400,500);
.container_UIiwV {
  position: relative;
  width: 100%;
  height: 100%;
}

.content_RNS0s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #000000;
}
.left_Kfzv9 {
  width: 300px;
  height: 100vh;
  padding: 50px;
  overflow: hidden;
}
.left_Kfzv9 .logo_nUtEm {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
}
.left_Kfzv9 .logo_nUtEm img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.left_Kfzv9 .leftDev_CuVj_ {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  border-radius: 13px;
  margin-top: 15px;
  padding: 20px;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  background-color: #131418;
}
.left_Kfzv9 .place_mvn1P {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
}
.left_Kfzv9 .place_mvn1P p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 20px;
  font-size: 15px;
  color: #fff;
  margin-bottom: 5px;
  overflow: hidden;
}
.left_Kfzv9 .place_mvn1P img {
  color: #fff;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.left_Kfzv9 .hobbies_GlhwY {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.left_Kfzv9 .hobbies_GlhwY span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28px;
  margin: 0px 5px 5px 0;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  border-radius: 10px;
}
.left_Kfzv9 .time_Y2b99 ul {
  width: 100%;
  height: 300px;
  padding-left: 8px;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  font-size: 13px;
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
  unicode-bidi: isolate;
}
.left_Kfzv9 .time_Y2b99 ul li {
  list-style: none;
  position: relative;
  padding: 15px 0px 0px 15px;
  border-left: 2px solid #d5d5d5;
  border-radius: 0;
  scroll-snap-align: end;
  color: #fff;
}
.left_Kfzv9 .time_Y2b99 ul li i {
  width: 8px;
  height: 8px;
  border-radius: 22px;
  background-color: #ffffff;
  border: 2px solid #fff;
  position: absolute;
  left: -7px;
  top: 50%;
}
.right_HjV_u {
  padding: 50px 0 50px 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
}
.right_HjV_u .header_z699H {
  display: block;
  unicode-bidi: isolate;
}
.right_HjV_u .header_z699H .welcome_ZR4WF {
  font-size: 65px;
  font-weight: 800;
  margin: 20px 0;
}
.right_HjV_u .header_z699H .welcome_ZR4WF span {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  background-position: 0%;
  font-family: "title";
  -webkit-animation: backgroundSizeAnimation_qOegj 10s ease-in-out infinite;
          animation: backgroundSizeAnimation_qOegj 10s ease-in-out infinite;
  background-image: linear-gradient(120deg, #853eff, #f76cc6 30%, #ffffff 60%);
}
.right_HjV_u .header_z699H .description_fQga4 {
  font-size: 20px;
  margin-top: 7px;
}
.right_HjV_u .header_z699H .description_fQga4 span {
  color: #747bff;
  font-weight: 800;
}
.right_HjV_u .header_z699H .tanChiShe_Y2Z5G {
  width: 85%;
}
.right_HjV_u .header_z699H .tanChiShe_Y2Z5G img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.right_HjV_u .main_WzCy5 .title_Fm8FW {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  font-weight: 800;
  margin: 20px 0;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
.right_HjV_u .main_WzCy5 .title_Fm8FW img {
  margin-right: 8px;
  height: 26px;
  width: 26px;
}
.right_HjV_u .main_WzCy5 .projectList_m9MFX {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.right_HjV_u .main_WzCy5 .projectItem_ZYY_Q {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #131418;
  border-radius: 8px;
  padding: 15px;
  margin: 7px;
  height: 100px;
  width: calc(20% - 15px);
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  -webkit-transition: opacity 0.5s ease, background-color 0.2s ease, border 0.2s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.5s ease, background-color 0.2s ease, border 0.2s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.5s ease, background-color 0.2s ease, border 0.2s ease, transform 0.3s ease;
  transition: opacity 0.5s ease, background-color 0.2s ease, border 0.2s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  text-decoration: none;
}
.right_HjV_u .main_WzCy5 .projectItemLeft_KMLNM {
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 100%;
  width: 80%;
}
.right_HjV_u .main_WzCy5 .projectItemLeft_KMLNM h1 {
  font-weight: normal;
  font-size: 16px;
  margin: 0px;
  -webkit-transition: font-size 0.4s ease;
  transition: font-size 0.4s ease;
  color: #fff;
}
.right_HjV_u .main_WzCy5 .projectItemLeft_KMLNM p {
  font-size: 12px;
  margin-top: 15px;
  color: #8e8e8e;
}
.right_HjV_u .main_WzCy5 .projectItemRight_JdbeG {
  overflow: hidden;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  height: 100%;
}
.right_HjV_u .main_WzCy5 .projectItemRight_JdbeG img {
  height: 39px;
  width: 39px;
}
.right_HjV_u .main_WzCy5 .projectItem_ZYY_Q:hover .projectItemLeft_KMLNM {
  width: 100%;
}
.right_HjV_u .main_WzCy5 .projectItem_ZYY_Q:hover .projectItemLeft_KMLNM h1 {
  font-size: 18px;
}
.right_HjV_u .main_WzCy5 .projectItem_ZYY_Q:hover .projectItemLeft_KMLNM p {
  font-size: 12px;
}
.right_HjV_u .main_WzCy5 .projectItem_ZYY_Q:hover .projectItemRight_JdbeG {
  width: 0%;
}
.right_HjV_u .main_WzCy5 .skill_p_hg3 {
  width: 85%;
}
.right_HjV_u .main_WzCy5 .skill_p_hg3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@-webkit-keyframes backgroundSizeAnimation_qOegj {
  0% {
    background-position: 100%;
  }
  25% {
    background-position: 50%;
  }
  50% {
    background-position: 0%;
  }
  75% {
    background-position: 50%;
  }
  100% {
    background-position: 100%;
  }
}
@keyframes backgroundSizeAnimation_qOegj {
  0% {
    background-position: 100%;
  }
  25% {
    background-position: 50%;
  }
  50% {
    background-position: 0%;
  }
  75% {
    background-position: 50%;
  }
  100% {
    background-position: 100%;
  }
}

.cardList__ciIq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  height: 100%;
}
.cardList__ciIq .header_M4qGa {
  height: 10vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
}
.cardList__ciIq .header_M4qGa h3 {
  color: #080e29;
  font-size: 24px;
  font-weight: 700;
}
.cardList__ciIq .header_M4qGa span {
  cursor: pointer;
}
.cardList__ciIq .container_bj7NE {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.cardList__ciIq .container_bj7NE .menu_ewDs6 {
  min-width: 200px;
  height: 90vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border-right: #ccc 1px solid;
}
.cardList__ciIq .container_bj7NE .menu_ewDs6 ul li {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.cardList__ciIq .container_bj7NE .menu_ewDs6 ul li a {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  color: #333;
}
.cardList__ciIq .container_bj7NE .menu_ewDs6 ul li .active_jeIfT {
  background-color: #1688dc;
  color: #fff;
}
.cardList__ciIq .container_bj7NE .content_Cn3eN {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.container_BKZzx {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #333;
}
.universeCanvas_ZPswa {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.meteorRainCanvas_weYqx {
  width: 100%;
  height: 60%;
  position: fixed;
  top: 0;
  left: 0;
}
.rainBg_j1b9T {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.container_P0zpA {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.book {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  display: none;
  z-index: 100;
}

.page {
  padding: 20px;
  background-color: #fcfaf7;
  color: #785e3a;
  border: solid 1px #c1b5a3;
  overflow: hidden;
  border-radius: 10px;
}

.page-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;

  .page-header {
    height: 30px;
    width: 100%;
    background-image: url(../5c719a671fb2533cdfab.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: CaveatVariableFontWght;
    font-weight: bolder;
    border-bottom: solid 1px #f3e7d7;
  }

  .page-main {
    position: relative;
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: justify;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: SentyPea;
    .text {
      width: 80%;
      padding: 0 20px;
      h1 {
        font-size: 38px;
        font-weight: bolder;
        font-family: love;
      }
      p {
        font-size: 18px;
        font-style: italic;
      }
    }
    img {
      position: absolute;
      right: 20px;
      bottom: 0;
      height: 200px;
    }
  }

  .page-footer {
    padding-top: 5px;
    height: 30px;
    border-top: solid 1px #f3e7d7;
    font-size: 16px;
    color: #998366;
  }
}

.--left {
  border-right: 0;
  -webkit-box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
          box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.--right {
  border-left: 0;
  -webkit-box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
          box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);

  .page-footer {
    text-align: right;
  }
}

.hard {
  background-color: #f2e7d8;
  border: solid 1px #998366;
}

.page-cover {
  background-color: #e2cfb5;
  color: #785e3a;
  border: solid 1px #998366;

  h2 {
    text-align: center;
    padding-top: 50%;
    font-family: EagleLake;
  }
}

.page-cover-top {
  -webkit-box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), -2px 0 5px 2px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), -2px 0 5px 2px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-family: love;
  color: #333;
  .cover-img {
    img {
      width: auto;
    }
  }
  .cover-desc {
    padding-top: 20px;
    h1 {
      font-weight: bolder;
    }
    p {
      font-size: 18px;
      font-weight: bolder;
    }
    img {
      width: 60%;
      margin: 20px 0;
    }
    span {
      display: block;
      font-size: 10px;
    }
  }
}

.page-cover-bottom {
  -webkit-box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-family: love;
  color: #333;
  .cover-img {
    img {
      width: auto;
    }
  }
  .cover-desc {
    padding-top: 20px;
    h1 {
      font-weight: bolder;
    }
    p {
      font-size: 18px;
      font-weight: bolder;
    }
    img {
      width: 60%;
      margin: 20px 0;
    }
    span {
      display: block;
      font-size: 10px;
    }
  }
}

.container_rj3Q6 {
  width: 100vw;
  height: 100vh;
}
.particle_ZKOgP {
  width: 100%;
  height: 100%;
}
.select_aL6HT {
  position: fixed;
  top: 15px;
  right: 15px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  background-color: #333;
}
.selectPopup_tYvDf {
  background-color: #fff;
}

.cardList_Ukc7E {
  height: 100%;
  background-color: #414645;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.cardList_Ukc7E .card_JwqTl {
  position: relative;
  width: 320px;
  padding: 40px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.cardList_Ukc7E .card_JwqTl:hover::before {
  bottom: 0;
}
.cardList_Ukc7E .card_JwqTl::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(-100% + 4px);
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.cardList_Ukc7E .card_JwqTl:nth-child(1):before {
  background-color: #c6ffc4;
}
.cardList_Ukc7E .card_JwqTl:nth-child(2):before {
  background-color: #a00fa8;
}
.cardList_Ukc7E .card_JwqTl:nth-child(3):before {
  background-color: #c5720d;
}
.cardList_Ukc7E .card_JwqTl div {
  position: relative;
  z-index: 2;
}
.cardList_Ukc7E .card_JwqTl div h2 {
  margin-bottom: 10px;
  font-size: 30px;
  color: #333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.cardList_Ukc7E .card_JwqTl div p {
  font-size: 18px;
  color: #777;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.cardList_Ukc7E .card_JwqTl div a {
  display: inline-block;
  margin-top: 20px;
  font-size: 14px;
  text-decoration: none;
  padding: 6px 10px;
  background: #fff;
  border-radius: 4px;
  color: #777;
}

.clock_ysImH {
  height: 100%;
  background-color: #191919;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.time_QipNI {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  color: #fff;
}
.time_QipNI .circle_sgLCX {
  position: relative;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.time_QipNI .circle_sgLCX .dots_ZbQRk {
  position: absolute;
  /* left: -1px; */
  width: 100%;
  height: 100%;
  z-index: 10;
}
.time_QipNI .circle_sgLCX:nth-child(1) .dots_ZbQRk::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: aqua;
  -webkit-box-shadow: 0 0 20px aqua, 0 0 60px aqua;
          box-shadow: 0 0 20px aqua, 0 0 60px aqua;
  z-index: 10;
}
.time_QipNI .circle_sgLCX:nth-child(2) .dots_ZbQRk::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #dbe120;
  -webkit-box-shadow: 0 0 20px #dbe120, 0 0 60px #dbe120;
          box-shadow: 0 0 20px #dbe120, 0 0 60px #dbe120;
  z-index: 10;
}
.time_QipNI .circle_sgLCX:nth-child(3) .dots_ZbQRk::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  -webkit-box-shadow: 0 0 20px red, 0 0 60px red;
          box-shadow: 0 0 20px red, 0 0 60px red;
  z-index: 10;
}
.time_QipNI .circle_sgLCX svg {
  position: relative;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.time_QipNI .circle_sgLCX svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #191919;
  stroke-width: 4px;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}
.time_QipNI .circle_sgLCX:nth-child(1) svg circle:nth-child(2) {
  stroke: aqua;
  stroke-dasharray: 440;
}
.time_QipNI .circle_sgLCX:nth-child(2) svg circle:nth-child(2) {
  stroke: #dbe120;
  stroke-dasharray: 440;
}
.time_QipNI .circle_sgLCX:nth-child(3) svg circle:nth-child(2) {
  stroke: red;
  stroke-dasharray: 440;
}
.time_QipNI div {
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
}
.time_QipNI div span {
  display: block;
  font-size: 0.35em;
  font-weight: 300;
  letter-spacing: 0.1em;
}
.time_QipNI .ap_WYmN_ {
  position: relative;
  left: 0;
  top: 0;
  -webkit-transform: translateY(55px);
          transform: translateY(55px);
}

.container_VXVTB {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #434750;
  color: red;
}
.loader_BqFts {
  position: relative;
  -webkit-transform: skewY(-15deg) translateX(50px) translateY(50px);
          transform: skewY(-15deg) translateX(50px) translateY(50px);
  -webkit-animation: animateColor_Pf3KJ 2.5s linear infinite;
          animation: animateColor_Pf3KJ 2.5s linear infinite;
}
@-webkit-keyframes animateColor_Pf3KJ {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
@keyframes animateColor_Pf3KJ {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
.loader_BqFts::before {
  position: absolute;
  content: "";
  top: 300px;
  width: 300px;
  height: 200px;
  background-color: #000000;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
  -webkit-filter: blur(20px);
          filter: blur(20px);
}
.loader_BqFts span {
  position: relative;
  display: block;
  width: 200px;
  height: 40px;
  background-color: #3e3f46;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: move_ridE_ 5s ease-in-out infinite;
          animation: move_ridE_ 5s ease-in-out infinite;
}
@-webkit-keyframes move_ridE_ {
  0% {
    -webkit-transform: translateX(-70px);
            transform: translateX(-70px);
  }
  100% {
    -webkit-transform: translateX(70px);
            transform: translateX(70px);
  }
}
@keyframes move_ridE_ {
  0% {
    -webkit-transform: translateX(-70px);
            transform: translateX(-70px);
  }
  100% {
    -webkit-transform: translateX(70px);
            transform: translateX(70px);
  }
}
.loader_BqFts span:hover {
  background-color: #33a3ee;
  -webkit-transition: 0s;
  transition: 0s;
}
.loader_BqFts span::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background-color: #2e3133;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.loader_BqFts span:hover::before {
  background-color: #1f5378;
}
.loader_BqFts span::after {
  content: "";
  position: absolute;
  left: 0;
  top: -150px;
  width: 100%;
  height: 150px;
  background-color: #35383e;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.loader_BqFts span:hover::after {
  background-color: #2982b9;
  -webkit-transition: 0s;
  transition: 0s;
}

.container_i48Sm {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(45deg, #fbda61, #ff5acd);
  background-image: url(../f3a3dc2793ebb432f725.png);
}
.card_eJW8E {
  position: relative;
  width: 350px;
  height: 190px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 35px 80px #000000;
          box-shadow: 0 35px 80px #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.card_eJW8E:hover {
  height: 450px;
}
.card_eJW8E .imgBox_OBcdk {
  position: absolute;
  left: 50%;
  top: -50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 15px 50px #000000;
          box-shadow: 0 15px 50px #000000;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.card_eJW8E:hover .imgBox_OBcdk {
  width: 250px;
  height: 250px;
}
.card_eJW8E .imgBox_OBcdk img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content_dwvAF {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.content_dwvAF .details_oFCBh {
  width: 100%;
  text-align: center;
  padding: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
}
.card_eJW8E:hover .content_dwvAF .details_oFCBh {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.content_dwvAF .details_oFCBh h2 {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.2em;
  color: #555;
}
.content_dwvAF .details_oFCBh h2 span {
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
}
.content_dwvAF .details_oFCBh .data_rifk2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}
.content_dwvAF .details_oFCBh .data_rifk2 h3 {
  font-size: 1em;
  color: #555;
  line-height: 1.2em;
}
.content_dwvAF .details_oFCBh .data_rifk2 h3 span {
  font-size: 0.85em;
  font-weight: 400;
  opacity: 0.5;
}
.content_dwvAF .details_oFCBh .actionBtn_Y_B67 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.content_dwvAF .details_oFCBh .actionBtn_Y_B67 button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 500;
  background-color: #ff5f95;
  color: #fff;
  cursor: pointer;
}
.content_dwvAF .details_oFCBh .actionBtn_Y_B67 button:nth-child(2) {
  border: 1px solid #999;
  color: #999;
  background-color: #fff;
}

.container_M01La {
  position: relative;
  height: 100%;
  background-color: #c0c0c0;
}
.action_J7nV9 {
  position: fixed;
  top: 200px;
  left: 50%;
}
.action_J7nV9 .profile_x_pQr {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.action_J7nV9 .profile_x_pQr img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.action_J7nV9 .menu_ASucJ {
  position: absolute;
  top: 80px;
  right: -10px;
  padding: 10px 20px;
  background-color: #fff;
  width: 280px;
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.action_J7nV9 .active_fW0HQ.menu_ASucJ {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.action_J7nV9 .menu_ASucJ::before {
  position: absolute;
  top: -5px;
  right: 28px;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.action_J7nV9 .menu_ASucJ h3 {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #555;
  line-height: 1.2em;
}
.action_J7nV9 .menu_ASucJ h3 span {
  font-size: 14px;
  font-weight: 400;
  color: #cecece;
}
.action_J7nV9 .menu_ASucJ ul li {
  list-style: none;
  padding: 10px;
  border-radius: 10px;
  border-top: 1px solid #000000;
  -webkit-filter: hue-rotate(0deg);
          filter: hue-rotate(0deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.action_J7nV9 .menu_ASucJ ul li span:nth-child(1) {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  font-size: 20px;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.action_J7nV9 .menu_ASucJ ul li:hover {
  background-color: #a27d0e;
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
  opacity: 1;
  visibility: visible;
  color: rgba(50, 218, 137);
}
.action_J7nV9 .menu_ASucJ ul li span:nth-child(2) {
  text-align: left;
}

section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: changeBg_RXQYb 4s steps(1) infinite;
          animation: changeBg_RXQYb 4s steps(1) infinite;
}
@-webkit-keyframes changeBg_RXQYb {
  0% {
    background-color: #be0ebb;
  }
  25% {
    background-color: aquamarine;
  }
  50% {
    background-color: #e1a732;
  }
  75% {
    background-color: #3a0dac;
  }
  100% {
    background-color: #be0ebb;
  }
}
@keyframes changeBg_RXQYb {
  0% {
    background-color: #be0ebb;
  }
  25% {
    background-color: aquamarine;
  }
  50% {
    background-color: #e1a732;
  }
  75% {
    background-color: #3a0dac;
  }
  100% {
    background-color: #be0ebb;
  }
}
.loader_hbv4B {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #000;
  -webkit-animation: roate90_KhWvQ 1s linear infinite;
          animation: roate90_KhWvQ 1s linear infinite;
}
@-webkit-keyframes roate90_KhWvQ {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%,
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
@keyframes roate90_KhWvQ {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%,
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
.loader_hbv4B div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-animation: roateAnimate_G6E3K 1s linear infinite;
          animation: roateAnimate_G6E3K 1s linear infinite;
}
@-webkit-keyframes roateAnimate_G6E3K {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%,
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@keyframes roateAnimate_G6E3K {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50%,
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.loader_hbv4B div:nth-child(1) {
  top: -100%;
  left: -2px;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}
.loader_hbv4B div:nth-child(1):before {
  background-color: aquamarine;
}
.loader_hbv4B div:nth-child(2) {
  right: -100%;
  top: -2px;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}
.loader_hbv4B div:nth-child(2):before {
  background-color: #e1a732;
}
.loader_hbv4B div:nth-child(3) {
  bottom: -100%;
  right: -2px;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
.loader_hbv4B div:nth-child(3):before {
  background-color: #3a0dac;
}
.loader_hbv4B div:nth-child(4) {
  left: -100%;
  bottom: -2px;
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
.loader_hbv4B div:nth-child(4):before {
  background-color: #be0ebb;
}
.loader_hbv4B::before,
.loader_hbv4B div::before {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  content: "";
  background-color: #fff;
}


.container_hGAq0 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
}
.container_hGAq0 h2 {
  position: relative;
  font-size: 4em;
  color: #fff;
  overflow: hidden;
}
.container_hGAq0 h2:before {
  position: absolute;
  content: "";
  left: 120%;
  width: 120%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(5%, #000), to(#000));
  background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
  -webkit-animation: fade_YupJj 10s linear infinite forwards;
          animation: fade_YupJj 10s linear infinite forwards;
}
@-webkit-keyframes fade_YupJj {
  0% {
    left: -20%;
  }
  50% {
    left: 120%;
  }
  100% {
    left: -20%;
  }
}
@keyframes fade_YupJj {
  0% {
    left: -20%;
  }
  50% {
    left: 120%;
  }
  100% {
    left: -20%;
  }
}

.content_zws8e {
  height: 100%;
  display: grid;
  place-items: center;
  background-color: #03a9f4;
}
.content_zws8e .loader_Jlv8o {
  position: relative;
  width: 120px;
  height: 120px;
}
.content_zws8e .loader_Jlv8o span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(calc(18deg * var(--i)));
          transform: rotate(calc(18deg * var(--i)));
}
.content_zws8e .loader_Jlv8o span::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: scalePoint_KQfHJ 2s linear infinite;
          animation: scalePoint_KQfHJ 2s linear infinite;
  -webkit-animation-delay: calc(0.1s * var(--i));
          animation-delay: calc(0.1s * var(--i));
}
@-webkit-keyframes scalePoint_KQfHJ {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  10% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  80%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes scalePoint_KQfHJ {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  10% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  80%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.content_HJ7ex {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: consolas;
  background-color: aliceblue;
}
.content_HJ7ex .circle_v8FPy {
  display: grid;
  place-items: center;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.content_HJ7ex .circle_v8FPy .logo_kM8vG {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: url(../f3a3dc2793ebb432f725.png);
  background-size: cover;
}
.content_HJ7ex .circle_v8FPy .text_niIb8 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: rotateText_DtJX2 5s linear infinite;
          animation: rotateText_DtJX2 5s linear infinite;
}
.content_HJ7ex .circle_v8FPy .text_niIb8 span {
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
}
@-webkit-keyframes rotateText_DtJX2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotateText_DtJX2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.content_dpFTM {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #27282c;
}
.content_dpFTM a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #fff;
  padding: 10px 30px;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.content_dpFTM a span {
  position: relative;
  z-index: 1;
}
.content_dpFTM a i {
  position: absolute;
  inset: 0;
  display: block;
}
.content_dpFTM a i::before {
  position: absolute;
  content: "";
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background-color: #27282c;
  -webkit-transform: translateX(-50%) skewX(325deg);
          transform: translateX(-50%) skewX(325deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.content_dpFTM a i::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 80%;
  width: 10px;
  height: 4px;
  background-color: #27282c;
  -webkit-transform: translateX(-50%) skewX(325deg);
          transform: translateX(-50%) skewX(325deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.content_dpFTM a:hover {
  color: var(--clr);
  background-color: var(--clr);
  letter-spacing: 0.25em;
  -webkit-box-shadow: 0 0 35px var(--clr);
          box-shadow: 0 0 35px var(--clr);
}
.content_dpFTM a:hover i::before {
  width: 20px;
  left: 20%;
}
.content_dpFTM a:hover i::after {
  width: 20px;
  right: 20%;
}
.content_dpFTM a::before {
  position: absolute;
  content: "";
  inset: 2px;
  background-color: #27282c;
}

.content_vMl2k {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins", sans-serif;
}
.content_vMl2k a {
  text-decoration: none;
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #0690fd;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 20px 25px #0690fd44;
          box-shadow: 0 20px 25px #0690fd44;
  overflow: hidden;
}
.content_vMl2k a span {
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.content_vMl2k a::before {
  position: absolute;
  right: 25px;
  content: "";
  width: 12px;
  height: 12px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.content_vMl2k a::after {
  position: absolute;
  left: -50px;
  content: "";
  width: 12px;
  height: 12px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-transform: rotate(45deg) translate(-50px, 50px);
          transform: rotate(45deg) translate(-50px, 50px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.content_vMl2k a:hover {
  width: 200px;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.content_vMl2k a:hover::before {
  -webkit-transform: rotate(45deg) translate(50px, -50px);
          transform: rotate(45deg) translate(50px, -50px);
}
.content_vMl2k a:hover::after {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transform: rotate(45deg) translate(50px, -50px);
          transform: rotate(45deg) translate(50px, -50px);
}
.content_vMl2k a:hover span {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1em;
}

.content_mZeaA {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2196f3;
}
.content_mZeaA .button_OMrH1 {
  text-decoration: none;
  position: relative;
  padding: 15px 20px;
  font-size: 18px;
  color: #03a9f4;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.content_mZeaA .button_OMrH1:hover {
  letter-spacing: 4px;
}
.content_mZeaA .popup_FJm0o {
  position: fixed;
  top: -100%;
  margin: 0 auto;
  z-index: 100;
  width: 450px;
  height: 200px;
  padding: 80px 50px;
  border-radius: 10px;
  background-color: #fff;
  display: grid;
  place-items: center;
  visibility: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}
.content_mZeaA .popup_FJm0o div {
  font-size: 1.5em;
  color: beige;
}
.content_mZeaA .popup_FJm0o p {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #393636;
  cursor: pointer;
}
.content_mZeaA .activePopup_dSF4J {
  top: 30%;
  visibility: visible;
}

.content_Puenz {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content_Puenz .card_UTzf8 {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#2196f4), color-stop(30%, #2196f4), color-stop(30%, #1d3548), to(#1d3548));
  background: linear-gradient(#2196f4, #2196f4 30%, #1d3548 30%, #1d3548);
  border-radius: 20px;
  overflow: hidden;
}
.content_Puenz .card_UTzf8 .imgBox_eefkn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin: top;
          transform-origin: top;
  z-index: 999;
}
.content_Puenz .card_UTzf8 .imgBox_eefkn img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content_Puenz .detail_IOWNr {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.content_Puenz .detail_IOWNr h2 {
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
}
.content_Puenz .detail_IOWNr h2 span {
  color: #03a9f4;
  font-size: 0.8em;
  font-weight: 400;
}
.content_Puenz .detail_IOWNr ul {
  margin-top: 5px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content_Puenz .detail_IOWNr ul li {
  margin: 4px;
  display: grid;
  place-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #29496d;
  color: #fff;
  font-size: 1.5em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.content_Puenz .detail_IOWNr ul li:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background-color: #03a9f4;
}
.content_Puenz .card_UTzf8:hover .imgBox_eefkn {
  -webkit-transform: translateY(30px) scale(0.5);
          transform: translateY(30px) scale(0.5);
}
.content_Puenz .card_UTzf8:hover .detail_IOWNr {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.content_L1IJl {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#6a85b6), to(#bac8e0));
  background: linear-gradient(to bottom, #6a85b6, #bac8e0);
}
.content_L1IJl .input_OgG8k {
  position: relative;
  min-height: 40px;
  padding: 0 10px;
  background-color: #fff;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: text;
  -webkit-animation: 0.2s;
          animation: 0.2s;
}
.content_L1IJl .input_OgG8k div {
  position: absolute;
  opacity: 0;
}
.content_L1IJl .input_OgG8k .printAnimate_JGUwY {
  -webkit-animation: print_AonfC 0.2s ease-in-out;
          animation: print_AonfC 0.2s ease-in-out;
}
@-webkit-keyframes print_AonfC {
  0% {
    position: absolute;
    -webkit-transform: scale(50);
            transform: scale(50);
  }
  99% {
    position: absolute;
  }
  100% {
    position: relative;
  }
}
@keyframes print_AonfC {
  0% {
    position: absolute;
    -webkit-transform: scale(50);
            transform: scale(50);
  }
  99% {
    position: absolute;
  }
  100% {
    position: relative;
  }
}

.content_y5z7N {
  height: 100%;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content_y5z7N .circle_f8t0S {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content_gJwji {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: honeydew;
}
.content_gJwji canvas {
  -webkit-animation: rotate_c3i1U 6s linear infinite;
          animation: rotate_c3i1U 6s linear infinite;
}
@-webkit-keyframes rotate_c3i1U {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate_c3i1U {
  0% {
    -webkit-transform: none;
            transform: none;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.content_Jzz5t {
  position: relative;
  height: 80vh;
  background-color: #f5f5f5;
  overflow-y: scroll;
}
.content_Jzz5t .header_PayP7 {
  height: 100px;
  line-height: 100px;
  text-align: center;
  position: sticky;
  background-color: #fff;
  top: 0;
  font-size: 20px;
  padding: 10px;
  z-index: 1;
}
.content_Jzz5t .shadow_uCrwE::before {
  content: "";
  -webkit-box-shadow: 0 0 10px 1px #333;
          box-shadow: 0 0 10px 1px #333;
  position: fixed;
  width: 100%;
}
.content_Jzz5t .shadow_uCrwE::after {
  content: "";
  width: 100%;
  height: 30px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), to(transparent));
  background: linear-gradient(to bottom, #fff 50%, transparent);
  position: absolute;
}

.container_db8TW {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #434750;
}
.container_db8TW .num_tXMnu {
  height: 200px;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: #fff;
}
.container_db8TW button {
  padding: 10px 20px;
  background-color: #1677ff;
  color: #fff;
  margin: 0 50px;
  cursor: pointer;
}

/* stylelint-disable */
html,
body {
  width: 100%;
  height: 100%;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@-ms-viewport {
  width: device-width;
}
body {
  margin: 0;
}
[tabindex='-1']:focus {
  outline: none;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 500;
}
p {
  margin-top: 0;
  margin-bottom: 1em;
}
abbr[title],
abbr[data-original-title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline;
  text-decoration: underline dotted;
  border-bottom: 0;
  cursor: help;
}
address {
  margin-bottom: 1em;
  font-style: normal;
  line-height: inherit;
}
input[type='text'],
input[type='password'],
input[type='number'],
textarea {
  -webkit-appearance: none;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1em;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 500;
}
dd {
  margin-bottom: 0.5em;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1em;
}
dfn {
  font-style: italic;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
pre,
code,
kbd,
samp {
  font-size: 1em;
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
pre {
  margin-top: 0;
  margin-bottom: 1em;
  overflow: auto;
}
figure {
  margin: 0 0 1em;
}
img {
  vertical-align: middle;
  border-style: none;
}
a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
table {
  border-collapse: collapse;
}
caption {
  padding-top: 0.75em;
  padding-bottom: 0.3em;
  text-align: left;
  caption-side: bottom;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type='radio'],
input[type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0.5em;
  padding: 0;
  color: inherit;
  font-size: 1.5em;
  line-height: inherit;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
mark {
  padding: 0.2em;
  background-color: #feffe6;
}

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@font-face {
  font-family: xinkai;
  src: url(../1036d96ff0d922a6634e.ttf);
}
@font-face {
  font-family: SentyPea;
  src: url(../f33a916db15d91a357c4.ttf);
}
@font-face {
  font-family: love;
  src: url(../616f943400e04aa96bc5.TTF);
}
@font-face {
  font-family: CaveatVariableFontWght;
  src: url(../31f0a02d84d42627c894.ttf);
}
@font-face {
  font-family: EagleLake;
  src: url(../0faede6f7dfd6a69ef91.ttf);
}


/*# sourceMappingURL=main.9d90d514.css.map*/