.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  display: none;
  z-index: 100;
}

.page {
  padding: 20px;
  background-color: #fcfaf7;
  color: #785e3a;
  border: solid 1px #c1b5a3;
  overflow: hidden;
  border-radius: 10px;
}

.page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  .page-header {
    height: 30px;
    font-size: 100%;
    text-transform: uppercase;
    text-align: center;
  }

  .page-image {
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .page-text {
    height: 100%;
    flex-grow: 1;
    font-size: 80%;
    text-align: justify;
    margin-top: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    border-top: solid 1px #f3e7d7;
  }

  .page-footer {
    padding-top: 5px;
    height: 30px;
    border-top: solid 1px #f3e7d7;
    font-size: 80%;
    color: #998366;
  }
}

.--left {
  border-right: 0;
  box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.--right {
  border-left: 0;
  box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);

  .page-footer {
    text-align: right;
  }
}

.hard {
  background-color: #f2e7d8;
  border: solid 1px #998366;
}

.page-cover {
  background-color: #e2cfb5;
  color: #785e3a;
  border: solid 1px #998366;

  h2 {
    text-align: center;
    padding-top: 50%;
    font-size: 210%;
  }
}

.page-cover-top {
  box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), -2px 0 5px 2px rgba(0, 0, 0, 0.4);
}

.page-cover-bottom {
  box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
}
